* {
    font-family: Helvetica;
    text-align: center;
    
}

#page_buttons li {
    display: inline;
    position: absolute;
    top: 0px;
    list-style: none;
    text-align: center;
    background-color: #000000;
    margin: 0 auto;
    width: 200px;
    line-height: 60px;
}

#index_page {
    left: 400px;
}

#css_page {
    left: 650px;
}

#js_page {
    left: 900px;
}

#page_buttons li a {
    text-decoration: none;
    color: #FFFFFF;
    display: block;
}
  
#page_buttons li a:hover {
    text-decoration: none;
    color: #000000;
    background-color: #33B5E5;
}
    

#buttons li {
    position: fixed;
    right: 0px;
    list-style: none;
    text-align: center;
    background-color: #000000;
    margin-right: 30px;
    width: 150px;
    line-height: 60px;
    vertical-align: top;
}

#buttons li a {
    text-decoration: none;
    color: #FFFFFF;
    display: block;
}
  
#buttons li a:hover {
    text-decoration: none;
    color: #000000;
    background-color: #33B5E5;
}

#txt {
    top: 240px;
}

#ml {
    top: 300px;
}

#tbls {
    top: 360px;
}

#frms {
    top: 420px;
}

#bck {
    top: 480px;
}

body {
    background-color: rgb(24, 22, 60);
    color: white;  
}

.html {
    position: relative;
    top: 80px;
}

span {
    margin: 10px auto;
}

.code {
    font-family: monospace;
    background-color: #ddd;
    color: blue;
    border-bottom: 1px solid white;
}

table {
    border-collapse: collapse;
    width: 60%;
    border-right: none
}

table.center {
    margin-left:auto; 
    margin-right:auto;
}

table, th, td {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background-color: ivory;
}

th, td {
    color: black;
}

.text #text_tags {
    position: relative;
    left: 0px;
}

#text_attributes {
    position: relative;
    right: 0px;
}
